<nav class="flex text-white items-center justify-between p-6  min-w-full bg-blue-300 h-12">
<div>LOGO</div>
<div class="flex items-center ">
  <span class="p-2">	<mat-icon>search</mat-icon></span>
  <span class="p-2"><mat-icon>menu</mat-icon></span>
  <span class="p-2"><mat-icon>help_outline</mat-icon></span>
  <span class=" flex justify-between hover:bg-slate-300 hover:rounded-md">
    <span class="p-1"><mat-icon>account_circle</mat-icon></span>
    <span class="p-1 cursor-pointer">{{user.lastName+','+user.firstName}}</span>
    <span class="p-1 cursor-pointer"><mat-icon>arrow_drop_down</mat-icon></span>
  </span>
</div>
</nav>
